body {
    background-color: #e9ecef40;
}
.navbar-brand {
    color: #000;
}
.nav-link {
    color: #000;
    font-weight: 400;
    letter-spacing: 2px;
}
.nav-link:hover {
    color: #ffc107;
}
.navbar-brand:hover {
    color: #ffc107;
}
.nav-item {
    padding: 0 5px;
}